{% extends 'base.html' %}

{% block content %}

  {% if error %}
  <h3 class="alert alert-danger text-center" role="alert">{{ error }}</h3>
  {% endif %}

<div class="container container-fluid main form-style">
	<h1 class="title text-center">Sign Up</h1>

  <form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <br/>
    <br/>
    <p class="text-center">Username:
      <input type="text" name='username' />
      <br/>
      <br/>
    </p>
    <p class="text-center">Password:
      <input type="password" name='pass1' />
      <br/>
      <br/>
    </p>

    <p class="text-center">Confirm Password:
      <input type="password" name='pass2' />
      <br/>
      <br/>
    </p>

<div class="col text-center">
  <button type="submit" name="button" class=" text-center btn-lg btn btn-primary">Signup</button>
</div>
<br><br>
  </form>

  <p class="text-center">Already Have An Account ? Click Here To  <a href="{% url 'login' %}">Login</a> </p>

</div>
{% endblock %}
